*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(asset/25544.jpg);
    background-size: cover;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

#form{
width: 23rem;
height: 23rem;
color: white;
border: 1px solid white;
border-radius: 7px;
}

.result{
    color: white;
width: 23rem;
height: 23rem;

}

#result{
    padding-bottom: 50px;
}

label{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}



.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006aff;
  border: 8px solid #c0dfff;
  color: white;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 20%;
}
.text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.svg {
  padding-top: 5px;
  height: 100%;
  width: 40%;
}
.svg svg {
  width: 100px;
  height: 30px;
}
.button:hover {
  border: 8px solid #b1d8ff;
  background-color: #1b7aff;
}
.button:active {
  border: 5px solid #c0dfff;
}
.button:hover .svg svg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
