* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/gradient-1770395838253.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


#form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    padding: 50px;
    border: 6px double rgba(255, 255, 255, 0.444);
    border-radius: 10px;
    background-image: url(img/gradient-1770395838253.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: white;
    box-shadow: rgba(0, 7, 15, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(18, 1, 1, 0.08) 0px 1px 0px inset;
}

label {
    margin: 10px;
    font-size: 25px;
}

#number {
    margin: 10px;
    font-size: 18px;
    padding: 6px;
    border-radius: 7px;
    border: none;
}

#result {
    font-size: 25px;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;

}



button {
    background-image: linear-gradient(to right, #2c3e50 0%, #3498db 51%, #2c3e50 100%)
}

button {
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #2e2d2d;
    border-radius: 10px;
    font-size: 17px;
    padding: 7px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}