*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin-top: 30px;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
}