* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #1a1a2e, #0f3460, #000000);
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
   
}

img {
    width: 1200px;
    height: 700px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}