* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.card {
    width: 30rem;
    height: 25rem;
    background: linear-gradient(145deg, #12001f, #090014);
    border-radius: 14px;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.35);
    border: 1px solid rgba(0, 255, 255, 0.4);
    color: #f2f9ff;
    font-family: "Orbitron", sans-serif;
}


.card-header {
    background: linear-gradient(90deg, #0a84ff, #00c6ff);
    padding: 16px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}

.card-body {
    padding: 30px;
}


label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #00aaff;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

button:hover {
    background: #0088cc;
}

#result {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}



.jp-matrix {
    position: fixed;
    inset: 0;
    background-color: #05050a;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-auto-rows: 40px;
    font-size: 32px;
    color: rgba(0, 150, 255, 0.4);
    font-family: "Courier New", Courier, monospace;
    z-index: -1;
}

.jp-matrix > span {
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 150, 255, 0.5);
    user-select: none;
    line-height: 1;
    animation: smooth-pulse 4s ease-in-out infinite;
}

@keyframes smooth-pulse {
    0%,100% {
        color: rgba(0,150,255,0.4);
    }
    50% {
        color: rgba(255,105,180,1);
        text-shadow: 0 0 15px rgba(255,105,180,1);
    }
}